# =========================
# Model checkpoints
# =========================
checkpoints/
*.pt

# =========================
# Generated datasets
# =========================
data/raw/
data/processed/
data/qa/
data/qa_sft/

*.bin

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Environments / secrets
# =========================
.env
.env.*
venv/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/